.titulo{
    margin: auto;
    color: black;
}
.parafo {
    background-color: #fff;
    color: black;
    margin-bottom :10%;
    border-radius: 10px;
    border-color: #555;
    border: solid  #00d5f4;
    margin-top: 10px;
}
h1{
    float:left;
    color: #fff;
    position: relative;
}
h1 span{
    position: absolute;
    right: 0;
    width: 0;
    background: #fff;
    border-left: 1px solid #000;
    
    animation: maquina 5s infinite  alternate steps(22);
}

@keyframes maquina {
    from {
        width: 100%;
    }
    to{
        width: 0;
    }
}
.contenedor{

padding: 50px;
text-align: center;}
.cabezera{
    color:white ;
    background-color: #202529;
    text-align: center;
}
body{
    background-color: #fff;
}
.piedep{
    background-color: #202529;
    color: white;
    text-decoration: none;
    padding: 10px;
    text-align: center;
}
.traajos{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 10px;
    background-color: blue;
    color: #fff;
}