body{
    background-color: #fff;
}
.cabezera{
    color:white ;
    background-color: #202529;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}
.container-fluid{
margin: 40px;

}

.contenedor-flex{
    display: flex;
    align-items: center;
    width:30%;
    height: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px;
}
img {
    height: 400px;
    margin-bottom: 20px;
}
.trabajos {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightseagreen;
    border:solid lightseagreen;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    padding: 20px;
}

footer {
    background-color: #202529;
    color: white;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    height: 100px;
    min-height: 90px;
    border-top: 3px solid;
    width: 100%;
}
p {
    text-align: center;
    border: #202529 solid 1px;
}
@media screen and (min-height:400px) {
    main{
        height: 70vh;

    }
}
@media screen and (min-height:800px) {
    main{
        height: 80vh;

    }
}