body{
    background-color: #fff;
}
.cabezera{
    color:white ;
    background-color: #202529;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}
.container-fluid{
margin: 10px;

}

footer {
    background-color: #202529;
    color: white;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    height: 100px;
    min-height: 90px;
    border-top: 3px solid;
    width: 100%;
}
p {
    text-align: center;
    border: #202529 solid 1px;
    padding: auto;
}
@media screen and (min-height:400px) {
    main{
        height: 70vh;

    }
}
@media screen and (min-height:600px) {
    main{
        height: 80vh;

    }
}