.cabezera{
    color:white ;
    background-color: #202529;
    text-align: center;
    }


aside {
    color: black;
    flex: 20px;
    background-color: #fff;  
    margin-right: 10px;
    margin-bottom: 60px;
}
section {
    color: black;
    flex: 70%;
    background-color: #fff;
    margin-left: 10px;    
}
.piedep{
    background-color: #202529;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 15%;

}
.piedep a{
text-decoration: none;
}
